<a href="https://colab.research.google.com/github/vijji-22/OS-NVR/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
result = [i*i for i in range(1,11) ]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
year = int(input("Enter a year: "))
if (year%400 == 0) or (year%4==0 and year%100!=0):
  print("The year is a leap year! ")
else:
  print("The year is not a leap year! ")

Enter a year: 2000
The year is a leap year!

In [42]:
a1=[1,2,3,4,5,6,7,8,9,10]
a2=[]
result =[a2.append(i)  for i in a1 ]
print(result)

[None, None, None, None, None, None, None, None, None, None]

In [43]:
array = [1,2,3,4,5,6]
def even(array):
 l = []
for i in array:
 if i%2==0:
  l.append(i)
return l
print(even(array))

NameError: ignored

In [54]:
import math
mylist=[10, 20, 30, "apple", True, 8.10]
mylist.append(30)
mylist.append(40)
print(mylist)
reverselist=mylist[::-1]
print(reverselist)

[10, 20, 30, 'apple', True, 8.1, 30, 40]
[40, 30, 8.1, True, 'apple', 30, 20, 10]

In [65]:
d={1:"data",2:"information",3:"text"}
print(d)
type(d)
d.pop(3)
print(d)
d[4]="feature"
print(d)
for data in d:
  print(d[1])

{1: 'data', 2: 'information', 3: 'text'}
{1: 'data', 2: 'information'}
{1: 'data', 2: 'information', 4: 'feature'}
data
data
data

In [84]:
a=()
type(a)
result=print( a+(1, 2, 3, "apple", "mango"))
print(result)

(1, 2, 3, 'apple', 'mango')
None

In [86]:
numeric_tuple=(10,20,30,40,50)
print(type(numeric_tuple))
min(numeric_tuple)
mytuple=(10,20,"vijji")
r1=mytuple+numeric_tuple
print(r1)
n=4
newdupli=((r1, ) * n)
print(newdupli)

<class 'tuple'>
(10, 20, 'vijji', 10, 20, 30, 40, 50)
((10, 20, 'vijji', 10, 20, 30, 40, 50), (10, 20, 'vijji', 10, 20, 30, 40, 50), (10, 20, 'vijji', 10, 20, 30, 40, 50), (10, 20, 'vijji', 10, 20, 30, 40, 50))

In [97]:
set1=set([1,2,3,4,5])
set2=set([2,3,7,6,1])
print(type(set1))
print(set1)
print(set2)
set1.union(set2)
set1.intersection(set2)
set1.difference(set2)

<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7}

{4, 5}

In [99]:
a=10
b=20
if b>a:
  print("b is greater than a")
else:
    print("b is less than a")

b is greater than a

In [103]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
if (a>b) and (b>c):
 print("a")
elif (b>c) and (c>a):
  print("b")
else:
  print("c")

enter a number:222
enter a number:2222
enter a number:22222
c

In [111]:
n = 1
while n <= 10:
   print(n, end=',')
   n = n+1

1,2,3,4,5,6,7,8,9,10,

In [ ]:
l1=[10,23,4,26,4,75,24,54]
print(l1)
l2=[]
l3=[]
for i in l1:
   while (i in l1):
      if(i%2==0):
        l2.append(i)
        print(l2)
      else:
        l3.append(i)
        print(l3)

In [15]:
n = int(input("Enter a number: "))
flag = False

if n == 1:
    print(n, "is a prime number")
elif n > 1:
    for i in range(2, n):
        if (n % i) == 0:
            flag = True
            break
    if flag:
        print(n, "is not a prime number")
    else:
        print(n, "is a prime number")

Enter a number: 44
44 is not a prime number